<div>
    <label for="{{name}}" class="form-label">{{label}}</label>
    {{#if possibleValues}}
        <select class="form-select" id="{{name}}" name="{{name}}">
            {{#each possibleValues}}
                <option>{{.}}</option>
            {{/each}}
        </select>
    {{/if}}
    {{#unless possibleValues}}
        <input class="form-control" id="{{name}}" type="text" name="{{name}}" placeholder="{{placeholder}}" value="{{defaultValue}}" />
    {{/unless}}
</div>